:root{
    --color-yellow: rgb(211, 136, 24);
}

body {
    font-family: 'Nunito', sans-serif;
}
footer{
    background-color: #eee;
    padding: 15px;
    text-align: center;
}
h1{
    color: var(--color-yellow);
}
.title{
    text-align: center;
    border-bottom: solid 2px var(--color-yellow);
}